<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
    <form action="/get-weather" method="post">
        <div class="input-container">
            <input class="input-city" type="text" id="name" name="name" placeholder="Enter a City" required>
            <input class="button" type="submit" value="Search">
        </div>

        <% if (content) { %>
        <div id="content" class="">
            <div class="city-temp">
                <div class="city"><%= content.city_name %></div>
                <div class="temp"><%= Math.round(content.temp) %>°</div>
            </div>
            <div class="text-align desc"><%= content.desc %></div>
            <div class="text-align"><img class="icon" src="<%= content.icon_url %>" alt="weather_icon"></div>
                <div class="text-align feels-like">Feels like: <%= Math.round(content.feelsLike) %>°</div>
                <div class="wind">Wind: <%= Math.round(content.windSpeed) %> m/s</div>
        </div>
        <% } else {%>
            <p>Enter a city</p>
            <% } %>
    </form>
    </div>
</body>
</html>